/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4; /* Color de fondo */
    color: #333; /* Color del texto */
}

/* Estilos del header y el menú de navegación */
header {
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 60px;
}

.nav-content.open {
    transform: translateX(0);
}

.nav-content a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.nav-content a:hover {
    background-color: #444;
}

/* Sección de héroe */
.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegúrate de que esto se mantenga */
    background-color: #111;
    color: white;
    text-align: center;
    padding-top: 60px; /* Espacio para el header */
}

#3d-models-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

model-viewer {
    width: 300px;
    height: 300px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: white;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    #3d-models-container {
        flex-direction: column;
        gap: 20px;
    }

    model-viewer {
        width: 250px;
        height: 250px;
    }
}
